<div class="container">
	<div>
		<h1>{{title}}</h1>
		<ul class="heroes">
			<li *ngFor="#hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)"><span class="badge">{{hero.id}}</span> {{hero.name}}</li>
		</ul>
		<button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
	</div>
	<div *ngIf="selectedHero">
		<h2>{{selectedHero.name | uppercase}}</h2>

		<div class="row">
			<div class="col-xs-3">Name</div>
			<div class="col-xs-9  pull-left">{{ selectedHero.name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Alter Ego</div>
			<div class="col-xs-9 pull-left">{{ selectedHero.alterEgo }}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Power</div>
			<div class="col-xs-9 pull-left">{{ selectedHero.power }}</div>
		</div>

		<button (click)="gotoDetail(selectedHero)" class="btn btn-default">Edit details</button>
		<button (click)="delete(selectedHero)" class="btn btn-default">Delete {{selectedHero.name}}</button>
	</div>
</div>